<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LinMacro - 리니지M 매크로의 모든 것!</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="assets/lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="assets/css/new-age.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">LinMacro</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">다운로드</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">기능소개</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#howto">셋팅방법</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">문의하기</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>어떠한 환경에서도 쾌적하게 돌아가는 무료 매크로를 찾으셨다면 지금 바로 체험해보세요!</h1>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll">무료 다운로드 하러가기!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img src="assets/img/app-player-momo.png" class="img-responsive" alt="">
                                            <h5 class="text-center text-ellipsis">모모앱플레이어</h5>
                                        </div>
                                        <div class="col-xs-4">
                                            <img src="assets/img/app-player-nox.png" class="img-responsive" alt="">
                                            <h5 class="text-center text-ellipsis">Nox</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading">지금 다운로드하세요!</h2>
                    <div class="specs row">
                        <div class="spec col-sm-6 text-center">
                            <h3>최소사양</h3>
                            <p>Windows 7 64비트</p>
                            <p>RAM 4GB 이상</p>
                            <p>CPU 가상화 지원 (VT-d, SVM)</p>
                        </div>
                        <div class="spec col-sm-6 text-center">
                            <h3>권장사양</h3>
                            <p>Windows 10 RS2 64비트</p>
                            <p>RAM 8GB 이상</p>
                            <p>CPU 가상화 지원 (VT-d, SVM)</p>
                        </div>
                    </div>
                    <div class="badges">
                        <h5>1개 인스턴스 사용시</h5>
                        <a href="bin/린매크로.zip" class="badge-link btn btn-outline btn-xl page-scroll">LinMacro 다운로드</a>
                    </div>
                    <div class="badges">
                        <h5>다수 인스턴스 사용시</h5>
                        <a href="bin/린매크로관리자.zip" class="badge-link btn btn-outline btn-xl page-scroll">LinMacroManager 다운로드</a>
                    </div>
                    <span class="text-warning">일부 백신의 오진으로 인해 실시간 감시 기능을 잠시 멈춰주세요 (알약, 아바스트 등)</span>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>다양한 기능, 안정적인 육성</h2>
                        <p class="text-muted">단말기를 직접 손으로 제어할 필요가 없습니다!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 landscape white">
                            <div class="device">
                                <div class="screen">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe src="https://www.youtube-nocookie.com/embed/U5jMa8BBBDs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>다양한 기기 지원</h3>
                                    <p class="text-muted">모모앱플레이어, 녹스앱플레이어를 지원합니다<br/>(추후 업데이트를 통해 핸드폰단말기 지원 예정)</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>스크린샷 기록</h3>
                                    <p class="text-muted">사망 또는 매크로 인식 실패 시 화면 기록을 남깁니다!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>무료 사용</h3>
                                    <p class="text-muted">매크로를 구매할 필요가 없습니다. 무료로 사용하세요!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>열린 피드백</h3>
                                    <p class="text-muted">카카오톡 오픈 채팅방을 활용해 소통하세요!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="howto" class="howto bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading text-center">셋팅 방법 안내</h2>
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#howto-nox" aria-controls="howto-nox" role="tab" data-toggle="tab">녹스앱플레이어</a></li>
                            <li role="presentation"><a href="#howto-momo" aria-controls="howto-momo" role="tab" data-toggle="tab">모모앱플레이어</a></li>
                            <li role="presentation"><a href="#howto-macro" aria-controls="howto-macro" role="tab" data-toggle="tab">LinMacro 설정</a></li>
                            <li role="presentation"><a href="#howto-macro-manager" aria-controls="howto-macro-manager" role="tab" data-toggle="tab">LinMacroManager 설정</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="howto-nox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-nox-1.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>1. 창이름 변경하기</h3>
                                        <p>녹스앱플레이어의 멀티플레이어를 실행한 뒤 플레이어 창 이름을 지정합니다. 한글,영문,숫자,공백,특수문자 등을 사용해 만드셔도 됩니다.<p>
                                        <p>* 이 때 지정된 창이름을 매크로 실행화면에 입력해주세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-nox-2.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>2. 창 해상도 변경하기</h3>
                                        <p>사용자지정 선택 후 가로 800, 세로 450, DPI 160으로 설정값을 수정해주세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-nox-3.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>3. 창 크기 고정하기</h3>
                                        <p>앱플레이어를 시작합니다. 그 후 "고정 된 윈도우 사이즈", "기존 위치 및 사이즈 유지"를 설정 해주셔야 정상적으로 동작합니다</p>
                                        <p>* 창크기 인식 오류 시 "고정 된 윈도우 사이즈", "기존 위치 및 사이즈 유지"를 해제한뒤 앱플레이어를 재실행 해주시기 바랍니다.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-nox-4.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>4. 가상키 투명도 조절</h3>
                                        <p>가상키를 지정하여 사용하는 경우, 투명도를 반드시 0%로 해주셔야 합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="howto-momo">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-momo-1.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>1. 창이름 변경하기</h3>
                                        <p>모모앱플레이어의 멀티플레이어를 실행한 뒤 플레이어 창 이름을 지정합니다. 한글,영문,숫자,공백,특수문자 등을 사용해 만드셔도 됩니다.<p>
                                        <p>* 이 때 지정된 창이름을 매크로 실행화면에 입력해주세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-momo-2.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>2. 창 해상도 변경하기</h3>
                                        <p>사용자 입력 체크 후 가로 800, 세로 450, DPI 160으로 설정값을 수정해주세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-momo-3.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>3. 창 크기 고정하기</h3>
                                        <p>창크기 고정을 해제한 뒤 앱플레이어를 시작합니다. 그 후 창크기 고정을 해주셔야 정상적으로 동작합니다</p>
                                        <p>* 현재 모모 1.1.4 버전에서는 창크기 고정을 해제해야합니다.</p>
                                        <p>* 창크기 인식 오류 시 고정을 해제한뒤 앱플레이어를 재실행 해주시기 바랍니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="howto-macro">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-macro-1.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>1. 매크로 로그인</h3>
                                        <p>ID : test, PW : test 로 로그인 해주세요. (Save 체크)<p>
                                        <p>* 접속자 초과가 뜨는 경우 잠시 후 재시도 하시면됩니다.</p>
                                        <p>* 알약, 아바스트 등 일부 백신의 오진으로 인한 문제로, 제외 항목에 폴더를 추가해주세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-macro-2.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>2. 매크로 설정</h3>
                                        <p>창이름에 멀티플레이어에서 넣은 이름을 입력해주세요.</p>
                                        <p>원하는 모드를 선택한 뒤 세부적인 설정을 한 뒤, START 버튼을 눌러 매크로를 시작합니다.</p>
                                        <p>* 각 메뉴 우측의 ? 버튼을 눌러 설명을 반드시 확인하세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-macro-3.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>3. 스케줄러 방식 설정</h3>
                                        <p>이동할 위치와 세부 옵션을 입력 한 뒤 추가 버튼을 눌러 스케줄 목록에 추가해주세요.</p>
                                        <p>* 시간 설정 방식에서 시간이 겹치는 경우 오동작의 소지가 있습니다. 주의하세요!</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="howto-macro-manager">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-macro-manager-1.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>1. 압축풀기</h3>
                                        <p>원하는 경로에 압축을 풀어주세요. Main 폴더는 절대 건드리지 마세요.<p>
                                        <p>* 알약, 아바스트 등 일부 백신의 오진으로 인한 문제로, 제외 항목에 폴더를 추가해주세요.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-macro-manager-2.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>2. 부계정 폴더 생성</h3>
                                        <p>Subs 폴더 아래에 운용할 만큼의 폴더를 만들어주세요.</p>
                                        <p>* 매크로 설정값은 각 폴더마다 개별적으로 적용됩니다.</p>
                                        <p>* 필요에 따라 Subs 안의 폴더를 옮겨 백업/복원이 가능합니다.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="assets/img/howto-macro-manager-3.png" class="img-responsive" />
                                    </div>
                                    <div class="col-md-6">
                                        <h3>3. 업데이트 및 매크로 일괄 실행</h3>
                                        <p>Update.bat 파일을 오른쪽 클릭 한 뒤 "관리자 권한으로 실행"을 눌러 실행합니다. 이 과정에서 뜨는 검은 화면은 가만히 두시면 됩니다.</p>
                                        <p>* 원활한 매크로 실행을 위해 반드시 로그인 화면의 Save를 체크해야합니다. Save 체크는 다음 실행부터 적용됩니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>커뮤니티로 오세요</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">LinMacro 커뮤니티 바로가기!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>여러분을 <i class="fa fa-heart"></i> 환영합니다!</h2>
            <ul class="list-inline list-social">
                <li class="social-kakao">
                    <a href="https://open.kakao.com/o/g1U9XJx" target="_blank"><i class="fa fa-comment"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 LinMacro with ProWorker. All Rights Reserved.</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="assets/js/new-age.min.js"></script>

</body>

</html>
